

:root {
 --bg-color: #FFFFFC ;
 --tertiary: #DD7070;
 --text-color: #000000;
 --primary: #ffffff;
 --secondary: #ffffff;

}

/* font is Halvetica */
/* Create a custom components or tailwind components */

